html {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/* Main Part of the Site */

.main {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  margin: 0;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

.header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 1rem 2rem;
}

.second {
  display: none;
}

.main .flex {
  justify-content: flex-end;
}

.slogan {
  margin-top: 10rem;
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.slogan h1 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}

/* Three picture section */

.three {
  display: flex;
  text-align: center;
  justify-content: center;
}


.one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.one img {
  width: 5rem;
  margin-bottom: 1rem;
}

#paper {
  width: 3.5rem;
}

.one p {
  font-size: .75rem;
}

/* Supporting Section */

.supporting {
  display: flex;
  margin-bottom: 4rem;
  justify-content: center;
}

.piece .para {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  width: 10rem;

}

.piece {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

/* Footer */

footer {
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 3rem;
}

/* Media Query 1025 */

@media only screen and (max-width: 1025px) {
  .container {
    max-width: 100%;
  }

  .main {
    padding: 0;
    height: 22rem;
  }

  .slogan {
    padding: .75rem 4rem;
    margin-right: 2rem;
    margin-top: 5rem;
  }

  .slogan h1 {
    font-size: 1.33rem;
    padding: .25rem;
  }

}

/* Media Query 470 px */

@media only screen and (max-width: 560px) {

/* Main Part of Site */

  .first {
    display: none;
  }

  .second {
    display: block;
  }

  .logo span {
    display: none;
  }

  .main {
    background-position: 20%;
    height: 17rem;
  }

  .slogan {
    margin-top: 9rem;
    width: 100%;
    margin-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .slogan h1 {
    font-size: 1rem;
    padding: 0;
  }

  /* three picture part */

  .three {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
    justify-content: flex-start;

  }

  .one {
    font-size: 0.77rem;
    margin: 0.77rem;
    height: auto;
  }

  /* supporting */

  .supporting {
    flex-direction: column;
  }

  .piece {
    width: auto;

  }

  .piece .para {
    width: 100%;
    text-align: center;
    max-width: 100%;

  }

  p .para {
    padding: 0
  }

  .small{
   font-size: 0.77rem;
   margin: 0;
   margin-bottom: 4rem;
   padding: 1rem;
 }
  /* Footer */
  footer {
    display: flex;
    justify-content: center;
  }

  footer span {
    display: none;
  }

  footer img {
    padding: 4rem 0;
  }
}
