html {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/* Main Part of the Site */

.main {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
  margin: 0;
  padding-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

.header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 1rem 2rem;
}

.main .flex {
  justify-content: flex-end;
}

.slogan {
  margin-top: 10rem;
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

.slogan h1 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
}
